html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.imgur.com/VRvRkN6.png");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
}

tr:hover {
  background-color: #ccc;
}
