html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.imgur.com/I3B4mrH.png");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

tr:hover {
  background-color: #ccc;
}
h1,
h2 {
  text-align: center;
}
